# ----------------------------------------------------------------------- #
#   DEPLOY CONFIGURATION
# ----------------------------------------------------------------------- #

TZ="Europe/Moscow"
PROJECT_NAME=
STACK_NAME=backoffice

# DOMAIN
DOMAIN=backoffice.integraaal.com

# FRONTEND
FRONTEND_HOST=https://backoffice.integraaal.com

# BACKEND
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:8044,https://localhost,https://localhost:8044,http://localhost.tiangolo.com"


# POSTGRES
POSTGRES_SERVER=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# DWH
DWH_DB_DRIVER=
DWH_DB_HOST=
DWH_DB_NAME=
DWH_DB_USER=
DWH_DB_PASS=

# 1C DB
DB_1C=

# AWS
AWS_ENDPOINT=
AWS_REGION=
AWS_BUCKET=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
